# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.env

# Django
*.log
local_settings.py
db.sqlite3
media/

# React
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db